<a href="https://colab.research.google.com/github/mdrashedulhasan1/randomisation_python/blob/main/Randomisation_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 import random
# print(random.randint(1,10)) 

# random_float = random.random()*5
# print(random_float)

# random_float2 = random.uniform(1,10)
# print(random_float2)

# love_score = random.randint(1,100)
# print(love_score)

# random_side = random.randint(0,1)
# if random_side == 1:
#   print("Heads")
# else:
#   print("Tails")

Tails

In [ ]:
ages = [12, 23, 45, 56, 23]
# print(ages[0],ages[1],ages[2],ages[3],ages[4])
ages[0] = 13
print(ages)
ages.append(55)
print(ages)

[13, 23, 45, 56, 23]
[13, 23, 45, 56, 23, 55]

In [ ]:
# Who will pay bill
import random
names = input("Give me everybody's names:")
names = names.split(" ")
num_items = len(names)
random_choice = random.randint(0, num_items-1)
person_who_pay_bill = names[random_choice]
print(person_who_pay_bill,"paying person")

Give me everybody's names:tapu rashedul hasan
hasan paying person

In [ ]:
names = ["tapu", "rashedul", "Hasan"]
names.append("Hira")
print(names)

['tapu', 'rashedul', 'Hasan', 'Hira']

In [3]:
row1 = ["#", "#", "#"]
row2 = ["#", "#", "#"]
row3 = ["#", "#", "#"]
map = [row1, row2, row3]
print(f"{row1}\n{row1}\n{row3}")
pos = input("Where do you want to put the treasure?")  #23
horizontal = int(pos[0]) #2 
vertical = int(pos[1]) #3

map[vertical-1][horizontal-1] = "X"  #2-1=1  3-1=2  1,2
print(f"{row1}\n{row1}\n{row3}")

['#', '#', '#']
['#', '#', '#']
['#', '#', '#']
Where do you want to put the treasure?23
['#', '#', '#']
['#', '#', '#']
['#', 'X', '#']